.app-section {
	background-color: var(--brand-color-light);
	padding: 36px 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.app-section-info {
	display: flex;
	flex-direction: column;
}

.app-section-info h2 {
	font-size: 32px;
}

.app-section-info p {
	font-size: 16px;
	line-height: 26px;
	color: var(--dark-20);
	margin-top: 24px;
   max-width: 440px;
}

.app-section-info .store-buttons {
	margin-top: 32px;
   display: flex;
   gap: 21px;
}
